<div
  class="hero min-h-screen rounded-md image-full"
  style="
    background-attachment: fixed;
    background-image: url(https://cdn.pixabay.com/photo/2018/06/18/23/03/europe-3483539_1280.jpg);
  "
>
  <div class="hero-overlay bg-opacity-60"></div>
  <div
    class="hero-content text-neutral-content text-center animate-fade-right animate-duration-[800ms] animate-delay-[400ms] animate-ease-in-out"
  >
    <div class="max-w-md">
      <h1 class="mb-5 text-5xl text-white font-bold">Aplicación de países</h1>
      <p class="mb-5 text-white font-bold">
        Aplicación de países desarrollada con Angular 19, TailwindCSS y daisyUI
      </p>
      <button routerLink="/country" class="btn btn-primary">Empezar</button>
    </div>
  </div>
</div>
